section#home.cover.c-slider
    .c-slider-indicator
      span.dot(onclick="currentSlide(1)")
      span.dot(onclick="currentSlide(2)")
      span.dot(onclick="currentSlide(3)")

    .c-card.c-card--cover.mySlides.fadeFx(style="background-image:url(images/bg-cover.jpg)")
      .container
        h1.c-card__title
          | Tecnologia Fortalecendo Jovens

    .c-card.c-card--cover.mySlides.fadeFx(style="background-image:url(images/jovem-pesquisando.jpeg)")
      .container
        h2.c-card__title
          | Transforme Sua Comunidade

    .c-card.c-card--cover.mySlides.fadeFx(style="background-image:url(images/bg-time.jpeg)")
      .container
        h2.c-card__title
          | Fortalecer Jovens
  
    span.alert-has-scroll