section.l-section#depoimentos
    .container
      h2.l-section__title.pb-4.mb-4.text-primary
        span.icon-feedback
        span Depoimentos
      .glide.glide-testimonial.mt-4
        .glide__track(data-glide-el='track')
          ul.glide__slides
            li.glide__slide
                blockquote.blockquote.px-2
                  .row.c-card.bullets.py-4
                    .col-md-3.col-sm-12.col-xs-12.text-center
                      img.img-fluid.rounded-circle(src="images/depoimentos/adao-lima.jpg" )
                    .col-md-9.col-sm-12.col-xs-12
                      p.
                        O WAAS é um projeto mega hiper irado, onde pude doar um pouco do meu conhecimento e em retribuição conhecer jovens super talentosos, brilhantes, e colegas mestres altamente inspiradores. Muito lindo participar e transformar nossa comunidade, ainda mais quando envolve educação. 

                      footer.blockquote-footer Adão Lima
        
            li.glide__slide
                blockquote.blockquote.px-2
                  .row.c-card.bullets.py-4
                    .col-md-3.col-sm-12.col-xs-12.text-center
                      img.img-fluid.rounded-circle(src="images/depoimentos/lucas-klein.jpg" )
                    .col-md-9.col-sm-12.col-xs-12
                      p.
                        Melhoooooor projeto de empreendedorismo social que já participei! WAAS vai salvar o mundo S2.

                      footer.blockquote-footer Lucas Klein
            
            li.glide__slide
                blockquote.blockquote.px-2
                  .row.c-card.bullets.py-4
                    .col-md-3.col-sm-12.col-xs-12.text-center
                      img.img-fluid.rounded-circle(src="images/depoimentos/daniel-marques.jpg" )
                    .col-md-9.col-sm-12.col-xs-12
                      p.
                        Melhor projeto de todos, WASS é um projeto que impacta jovens, com ensinamentos que vão carregar pra vida toda, todos os jovens podem mudar a vida delas e de toda a comunidade que as cerca. Muito lindo o projeto.

                      footer.blockquote-footer Daniel Marques
        
        .glide__bullets(data-glide-el='controls[nav]' style="bottom: -15px")
          - var counter = 0
          +repeat(3)
            button.glide__bullet(data-glide-dir=`=${counter++}`)