section.l-section#eventos
    .container
      h2.l-section__title.text-primary
        span.icon-calendar
        span.px-2 Eventos
      .row
        //- Hackateen
        .col-md-6.px-4
          .c-card.w-100.py-4.bullets.bullets--top-center.bullets--blue
            figure.l-section__img.c-card__img.mt-2(style='height:250px')
              img(src="images/hackateen-alianca.jpeg", alt="Jovem Pesquisando")
            h3.c-card__title.text-center.h2
              | Hackateen
            .c-card__body.text-center
              p Hackathon dos Jovens Ninjas WAAS. A missão é desenvolver soluções para os problemas da comunidade, com a ajuda da Tecnologia.
              p Durante 10 horas os participantes trabalham em times, com ajuda de mentores qualificados, buscando soluções para problemas reais por meio dos conhecimentos obtidos nas oficinas do semestre.
              p Ao final, fazem uma apresentação de 5 minutos das suas ideias e prototipos, e são avaliados por uma banca examinadora composta por lideres regionais.

            .d-flex
              a.c-btn.c-btn--df.c-btn--blue.w-100(href='https://www.facebook.com/pg/waas.ninja/events/?ref=page_internal').d-flex.justify-content-center Agenda
        //- Dojo
        .col-md-6.px-4
          .c-card.w-100.py-4.bullets.bullets--top-center.bullets--blue
            figure.l-section__img.c-card__img.mt-2(style='height:250px')
              img(src="images/dojo-joinville.jpg", alt="Jovem Pesquisando")
            h3.c-card__title.text-center.h2
              | Dojo
            .c-card__body.text-center
              p Evento em formato de competição usando tecnologia. Corrida de carrinhos, Luta de robôs, gincana, Desafios e Demonstrações de habilidades.
              p O Dojo WAAS é uma experiência de 3 horas onde uma turma entra em contato com o mundo da robótica!
              p A partir de uma história, convidamos aos jovens a participarem da dinâmica, por meio de seus experimentos robóticos.

            .d-flex
                a.c-btn.c-btn--df.c-btn--blue.w-100(href='https://www.facebook.com/pg/waas.ninja/events/?ref=page_internal').d-flex.justify-content-center Em breve