section.footer.l-footer.mt-4
  .container
      
    .row.text-center.my-4.l-footer__wrapper

        .col-xs-12.col-sm-12.col-md-6.col-lg-4.l-footer__block.text-center
          include ../_01-elements/e-logo-waas
          .l-footer__badges.d-flex.justify-content-center
            a.btn.btn--ods(href="https://nacoesunidas.org/pos2015/agenda2030/" target="_blank" title="Objetivos de Desenvolvimento Sustentável")
              span.icon-ods-pt-mono.icon--lg
              span.sr-only Objetivos de Desenvolvimento Sustentável
            a.btn.btn--ods-4(href="https://nacoesunidas.org/pos2015/ods4/" target="_blank" title="Ods 4 - Educação de Qualidade")
              span.icon-ods-4.icon--lg
              span.sr-only Ods 4 - Educação de Qualidade
            a.btn.btn--ods-8(href="https://nacoesunidas.org/pos2015/ods8/" target="_blank" title="Ods 8 - Trabalho Descente e Crescimento Econômico")
              span.icon-ods-8.icon--lg
              span.sr-only Ods 8 - Trabalho Descente e Crescimento Econômico

          .l-footer__badges.d-flex.justify-content-center
            a.btn(href="https://jupter.co/" target="_blank" title="Na orbita de Jupter")
              span.icon-vulcan-salute
              span.sr-only Na orbita de Jupter
            a.btn(href="http://peacelabs.co/p/waas" target="_blank" title="Monitorado através do Peace Labs")
              span.icon-peace
              span.sr-only Monitorado através do Peace Labs
            a.btn(href="https://institutolegado.org/" target="_blank" title="Mentoria do Instituto Legado")
              span.icon-legado-simbolo
              span.sr-only Mentoria do Instituto Legado

        .col-xs-12.col-sm-12.col-md-6.col-lg-3.pt-4.l-footer__block
          h5.l-footer__title 
            span.icon-map-o
            span.pl-2 Encontre a gente
          address.d-flex.flex-column
            ul.list-unstyled.quick-links
              li 
                a.btn.d-flex.align-items-center(href="https://goo.gl/maps/yfBG2ZnLvA7ekKu69" target="_blank")
                  span.icon-maps-and-flags
                  span.pl-2.d-flex.text-left Rua Engenheiro Rebouças, 1255 - Curitiba
              li  
                a.btn.d-flex.align-items-center(href="tel:+5541988774004" target="_blank") 
                  span.icon-phone
                  span.pl-2 (41) 98877-4004
              li
                a.btn.d-flex.align-items-center(href="https://wa.me/5541988774004?text=Oi%20gente%20%20me%20conta%20mais%20sobre%20o%20WAAS" target="_blank")
                  span.icon-whatsapp
                  span.pl-2 Whatsapp
              li
                a.btn.d-flex.align-items-center(href="https://m.me/waas.ninja" target="_blank")
                  span.icon-messenger
                  span.pl-2 Messenger
              li
                a.btn.d-flex.align-items-center(href="mailto:hello@waas.ninja" target="_blank")
                  span.icon-envelope
                  span.pl-2 hello@waas.ninja
    
              

        .col-xs-12.col-sm-12.col-md-6.col-lg-3.pt-4.l-footer__block
          h5.l-footer__title 
            span.icon-star
            span.pl-2 Menu
          ul.list-unstyled.quick-links
            li
              a.btn(href="#") Sobre nós
            li
              a.btn(href="#") Por quê?
            li
              a.btn(href="#") Metodologia
            li
              a.btn(href="#") Sistema de Graduação
            li
              a.btn(href="#") Hackateen
            li
              a.btn(href="#") Blog

        
        .col-xs-12.col-sm-12.col-md-6.col-lg-2.pt-4.l-footer__block
          h5.l-footer__title.p-2 
            span.icon-broadcast
            span  Social
          ul.list-unstyled.quick-links
              li
                a.btn.d-flex.align-items-center(href="https://www.instagram.com/waas.ninja/" target="_blank") 
                  span.icon-instagram
                  span.pl-2  Instagram
              li
                a.btn.d-flex.align-items-center(href="https://www.facebook.com/waas.ninja" target="_blank") 
                  span.icon-facebook
                  span.pl-2 Facebook
              li
                a.btn.d-flex.align-items-center(href="https://www.linkedin.com/company/instituto-social-waas" target="_blank") 
                  span.icon-linkedin
                  span.pl-2 Linkedin
              //- li
              //-   a.btn.d-flex.align-items-center(href="#") 
              //-     span.icon-youtube
              //-     span.pl-2 Youtube

    .row.text-center
      p.w-100.col-12.text-center Copyright 2019 Instituto Social WAAS

