section.l-section#metodologia
    .container
      .c-card.c-card--section.bullets.bullets--orange.bullets--right
        figure.l-section__img.c-card__img
          img(src="images/jovem-pesquisando.jpeg", alt="Jovem Pesquisando")
        h2.l-section__title.c-card__title.text-center
          span.icon-lamp
          span Metodologia
        .c-card__body
          p A metodologia WAAS é desenvolvida para os jovens conhecerem e aprederem novas tecnologias, que os ajudem a superar desafios do dia a dia e possam transformar sua comunidade. Todo o processo é guiado por desafios, que são necessários serem superados para seguir adiante e se graduarem.
          p A cada graduação o jovem é premiado com um boton, um símbolo de ascenção de nível, muito parecido com a faixa das artes marciais.
          p Além das oficinas, nossa metodologia desenvolve:
          ul
            li Treinamento dos colaboradores;
            li Kit WAAS - Material tecnológico didático e economicamente acessivel;
            li Criação de conteúdo;
            li Cobertura e divulgação;
            li Promoção de eventos e Hackateen;
            li Gestão dos projetos.