section.l-section#noticias
    .container
      .c-card.c-card--section.mb-4.px-0.bullets.bullets--red
        h2.l-section__title.c-card__title
          span.icon-hashtag
          span O que estão falando sobre nós
        .c-card__body.h-100
          .c-grid.js-gallery--news
            .c-grid__item.c-card.text-center.bg-transparent.border-0
              a.c-grid__link(href='https://jornaldacic.com.br/2019/09/04/raul-guedes-o-menino-que-foi-pra-nasa-agora-vai-para-harvard/' target='_blank')
                .c-card-img-top
                  img(src="images/clipping/o-menino-que-foi-pra-nasa-agora-vai-para-harvard.png" alt="Imagem").rounded   
                .c-card__body
                  h4.c-card__title Jornal da CIC
                  p.card-text 
                    | O Menino que foi para a NASA, agora vai para HAVARD

            .c-grid__item.c-card.text-center.bg-transparent.border-0
              a.c-grid__link(href='https://globoplay.globo.com/v/7562927/?fbclid=IwAR10drwchiU7uMxBv-Igt4CDnY8AQ5U8K76C9Xt517XSDI_ZUJYVrJDnw7s' target='_blank')
                .c-card-img-top
                  img(src="images/clipping/boa-noite-pr-inun.png" alt="Imagem").rounded   
                .c-card__body
                  h4.c-card__title Boa noite Paraná
                  p.card-text 
                    | Jovens criam aplicativo que avisa quanto o rio está sibindo.
    
            .c-grid__item.c-card.text-center.bg-transparent.border-0
              a.c-grid__link(href='https://g1.globo.com/pr/parana/noticia/adolescentes-de-curitiba-vencem-concurso-de-invencoes-e-se-preparam-para-conhecer-a-nasa.ghtml' target='_blank')
                .c-card-img-top
                  img(src="images/clipping/juno.png" alt="Imagem").rounded   
                .c-card__body
                  h4.c-card__title G1 - Paraná RPC
                  p.card-text 
                    | Adolescentes de Curitiba vencem concurso de invenções e se preparam para conhecer a Nasa.

            .c-grid__item.c-card.text-center.bg-transparent.border-0
              a.c-grid__link(href='https://www.youtube.com/watch?v=K0TNpyvVyLU&feature=youtu.be&fbclid=IwAR135VKokzMfkrJW6PkA4fzP9e1Wd8hKsCFJLYtwYiSPMczAtgprOZQxmgo' target='_blank')
                .c-card-img-top
                  img(src="images/clipping/AEB.png" alt="Imagem").rounded   
                .c-card__body
                  h4.c-card__title Agência Espacial Brasileira
                  p.card-text 
                    | Presidente da Agência Espacial Brasileira parabeniza Ninjas WAAS.

            .c-grid__item.c-card.text-center.bg-transparent.border-0
              a.c-grid__link(href='https://institutolegado.org/rede-legado-participa-de-pitch-day-com-diretores-da-renault-mundial/?fbclid=IwAR3aAW9rr9RKbISxIlL5CJHwE5X2IeVbJLSKbK0FbpiudwK2tmOMfZ39gd4' target='_blank')
                .c-card-img-top
                  img(src="images/clipping/legado-renault.png" alt="Imagem").rounded   
                .c-card__body
                  h4.c-card__title Instituto Legado
                  p.card-text 
                    | WAAS participa de pitch day com diretores da Renault Mundial.
          
            .c-grid__item.c-card.text-center.bg-transparent.border-0
              a.c-grid__link(href='http://www.educacao.pr.gov.br/Noticia/Alunos-de-colegio-estadual-projetam-horta-inteligente' target='_blank')
                .c-card-img-top
                  img(src="images/clipping/seed.png" alt="Imagem").rounded   
                .c-card__body
                  h4.c-card__title Secretaria da Educação do Paraná
                  p.card-text 
                    | Alunos de colégio estadual projetam horta inteligente.

            .c-grid__item.c-card.text-center.bg-transparent.border-0
              a.c-grid__link(href='https://www.facebook.com/HarvardVTRAC/posts/1010459852653434' target='_blank')
                .c-card-img-top
                  img(src="images/clipping/vtrac.png" alt="Imagem").rounded   
                .c-card__body
                  h4.c-card__title VTRAC
                  p.card-text 
                    | Jovem Ninja WAAS veterano em Harvard, pelo programa Village to Rise a Child.

            .c-grid__item.c-card.text-center.bg-transparent.border-0
              a.c-grid__link(href='http://jornaldacic.com.br/2019/07/01/hackateen-na-fiep-cic-mostra-o-talento-dos-jovens-da-cidade-industrial/?fbclid=IwAR1qj0ROjBCxlR4QtrzrKX4KVgToZEux-BI5cFOw-YH8AgO3pU4Bgpcq5V4' target='_blank')
                .c-card-img-top
                  img(src="images/clipping/hackateen-fablab.png" alt="Imagem").rounded   
                .c-card__body
                  h4.c-card__title Jornal da CIC
                  p.card-text 
                    | Hackateen na FIEP-CIC mostra o talento dos jovens da Cidade Insdustrial de Curitiba.