section.l-section#sobre-nos
    .container
      .c-card.c-card--section.bullets.bullets--top-center
        figure.l-section__img.c-card__img
          img(src="images/equipe.jpg", alt="Jovem Pesquisando")
        h2.l-section__title.c-card__title.text-center.text-warning
          span.icon-raio
          span Sobre Nós
        .c-card__body
          p Nós somos uma organização social e acreditamos que tecnologia e correta orientação entregue a jovens, transformaram positivamente suas comunidades.
          p Encorajamos nossos jovens a resolverem problemas, a explorarem tecnologias e acreditarem mais em si.
          p Vemos a tecnologia como um meio para amplificar o impacto das ideias e das ações das pessoas.
          p A cada semestre oferecemos oportunidade para jovens aprenderem novas tecnologias, e desenvolverem soluções reais para problemas de sua comunidade.
          p Diante de situações extremamente adversas encontradas em comunidades carentes, nos inspiramos nos empreendedores para incentivar soluções criativas, habilidades "Ninjas" para encarar e solucionar os problemas.
          p Acreditamos fortemente em juntar as pessoas para fortalecer a comunidade, e pavimentar um futuro melhor para todos.
