extends ../_00-toolbox/templates/master.pug

block append pageTitle
  - page.title = page.name
  - page.current = "home"

block main

  //- COVER
  section#home.cover.c-slider
    .c-slider-indicator
      span.dot(onclick="currentSlide(1)")
      span.dot(onclick="currentSlide(2)")
      span.dot(onclick="currentSlide(3)")

    .c-card.c-card--cover.mySlides.fadeFx(style="background-image:url(images/bg-cover.jpg)")
      .container
        h1.c-card__title
          | Tecnologia Fortalecendo Jovens

    .c-card.c-card--cover.mySlides.fadeFx(style="background-image:url(images/jovem-pesquisando.jpeg)")
      .container
        h2.c-card__title
          | Transforme Sua Comunidade

    .c-card.c-card--cover.mySlides.fadeFx(style="background-image:url(images/bg-time.jpeg)")
      .container
        h2.c-card__title
          | Fortalecer Jovens
  
    span.alert-has-scroll

  section.l-section#sobre-nos
    .container
      .c-card.c-card--section.bullets.bullets--top-center
        h2.l-section__title.c-card__title.text-center.text-warning
          span.icon-raio
          span Sobre Nós
        .c-card__body
          p Nós somos uma organização social e acreditamos que tecnologia e correta orientação entregue a jovens, transformaram positivamente suas comunidades.
          p Encorajamos nossos jovens a resolverem problemas, a explorarem tecnologias e acreditarem mais em si.
          p Vemos a tecnologia como um meio para amplificar o impacto das ideias e das ações das pessoas.
          p A cada semestre oferecemos oportunidade para jovens aprenderem novas tecnologias, e desenvolverem soluções reais para problemas de sua comunidade.
          p Diante de situações extremamente adversas encontradas em comunidades carentes, nos inspiramos nos empreendedores para incentivar soluções criativas, habilidades "Ninjas" para encarar e solucionar os problemas.
          p Acreditamos fortemente em juntar as pessoas para fortalecer a comunidade, e pavimentar um futuro melhor para todos.
  
  //- COMO FAZEMOS
  section.l-section#metodologia
    .container
      .c-card.c-card--section.bullets.bullets--orange.bullets--right
        figure.l-section__img.c-card__img
          img(src="images/jovem-pesquisando.jpeg", alt="Jovem Pesquisando")
        h2.l-section__title.c-card__title.text-center
          span.icon-lamp
          span Metodologia
        .c-card__body
          p A metodologia WAAS é desenvolvida para os jovens conhecerem e aprederem novas tecnologias, que os ajudem a superar desafios do dia a dia e possam transformar sua comunidade. Todo o processo é guiado por desafios, que são necessários serem superados para seguir adiante e se graduarem.
          p A cada graduação o jovem é premiado com um boton, um símbolo de ascenção de nível, muito parecido com a faixa das artes marciais.
          p Além das oficinas, nossa metodologia desenvolve:
          ul
            li Treinamento dos colaboradores;
            li Kit WAAS - Material tecnológico didático e economicamente acessivel;
            li Criação de conteúdo;
            li Cobertura e divulgação;
            li Promoção de eventos e Hackateen;
            li Gestão dos projetos.


          //.c-card__link
            a.c-btn.c-btn--df.c-btn--blue(href='#').d-flex Leia mais
    
  //- SISTEMA DE GRADUACAO
  section.l-section#sistema-de-graduacao
    .c-grad
      .container.pb-0
        h2.l-section__title.mb-0.pb-0.text-center.d-flex.align-items-center.text-primary
          span.icon-ninja
          span.px-2 Sistema de Graduação
        p.text-center.pb-4 O Sistema de Graduação dos 
          strong #NINJASWAAS
          |  se inspira nas habilidades das marciais.

        .c-grad__display
          .card-deck
            .c-card(style="width: 14.5rem").bullets.bullets--top-center
              .c-card__img.c-card__img--circle
                img(src=`images/graduacao-1-despertar.jpg`).img-fluid
              h3.c-card__title.text-center#metodologia.pt-3.pb-2
              .c-card__body.text-center
              p
                strong Objetivo
                |  Conhecer a tecnologia como ferramenta.
              p
                strong Habilidade
                |  Reconhecer que temos a capacidade de criar tecnologia.

            .c-card(style="width: 14.5rem").bullets.bullets--top-center
              .c-card__img.c-card__img--circle
                img(src=`images/graduacao-2-aprender.jpg`).img-fluid
              h3.c-card__title.text-center#metodologia.pt-3.pb-2
              .c-card__body.text-center
              p
                strong Objetivo
                |  Usar a internet como fonte de pesquisa e de conteúdo didático.
              p
                strong Habilidade
                |  Aprender como aprender melhor, segurança na internet, senso crítico e motivacional para se auto desafiar.

            .c-card(style="width: 14.5rem").bullets.bullets--top-center
              .c-card__img.c-card__img--circle
                img(src=`images/graduacao-3-explorar.jpg`).img-fluid
              h3.c-card__title.text-center#metodologia.pt-3.pb-2
              .c-card__body.text-center
              p
                strong Objetivo
                |  Explorar as ferramentas tecnológicas.
              p
                strong Habilidade
                |  Criatividade, design, ideação e pensamento crítico.

            .c-card(style="width: 14.5rem").bullets.bullets--top-center
              .c-card__img.c-card__img--circle
                img(src=`images/graduacao-4-prototipar.jpg`).img-fluid
              h3.c-card__title.text-center#metodologia.pt-3.pb-2
              .c-card__body.text-center
              p
                strong Objetivo
                |  Integrar os conhecimentos adquiridos para prototipar e resolver pequenos desafios.
              p
                strong Habilidade
                |  Empreendedorismo, trabalho em grupo, compreensão de problemas, empatia.

            .c-card(style="width: 14.5rem").bullets.bullets--top-center
              .c-card__img.c-card__img--circle
                img(src=`images/graduacao-5-desafiar.jpg`).img-fluid
              h3.c-card__title.text-center#metodologia.pt-3.pb-2
              .c-card__body.text-center
              p
                strong Objetivo
                |  Resgatar e aplicar o conteúdo aprendido em uma gincana super animada, com desafios diversos.
              p
                strong Habilidade
                |  Consolidar o conhecimento aprendido durante o semestre e fortalecer habilidades de trabalho em grupo.

            .c-card(style="width: 14.5rem").bullets.bullets--top-center
              .c-card__img.c-card__img--circle
                img(src=`images/graduacao-6-aprimorar.jpg`).img-fluid
              h3.c-card__title.text-center#metodologia.pt-3.pb-2
              .c-card__body.text-center
              p
                strong Objetivo
                |  Desenvolver habilidades que deseja aprimorar atrávez de um projeto de maior duração.
              p
                strong Habilidade
                |  Autoavalição, Disciplina e Persistência.

            .c-card(style="width: 14.5rem").bullets.bullets--top-center
              .c-card__img.c-card__img--circle
                img(src=`images/graduacao-7-transmitir.jpg`).img-fluid
              h3.c-card__title.text-center#metodologia.pt-3.pb-2
              .c-card__body.text-center
              p
                strong Objetivo
                |  Transferir o conhecimento a outros ninjas.
              p
                strong Habilidade
                |  Estruturação e apresentação de idéias e conceitos de maneira simples e compreensível.

            .c-card(style="width: 14.5rem").bullets.bullets--top-center
              .c-card__img.c-card__img--circle
                img(src=`images/graduacao-8-empoderar.jpg`).img-fluid
              h3.c-card__title.text-center#metodologia.pt-3.pb-2
              .c-card__body.text-center
              p
                strong Objetivo
                |  Ministrar oficinas para uma turma WAAS!
              p
                strong Habilidade
                |  Conhecer profundamente os conceitos que são passados nas oficinas, responsabilidade e liderança.

  //- EVENTS
  section.l-section#eventos
    .container
      h2.l-section__title.text-primary
        span.icon-calendar
        span.px-2 Eventos
      .row
        //- Hackateen
        .col-md-6.px-4
          .c-card.w-100.py-4.bullets.bullets--top-center.bullets--blue
            figure.l-section__img.c-card__img.mt-2(style='height:250px')
              img(src="images/hackateen-alianca.jpeg", alt="Jovem Pesquisando")
            h3.c-card__title.text-center.h2
              | Hackateen
            .c-card__body.text-center
              p Hackathon dos Jovens Ninjas WAAS. A missão é desenvolver soluções para os problemas da comunidade, com a ajuda da Tecnologia.
              p Durante 10 horas os participantes trabalham em times, com ajuda de mentores qualificados, buscando soluções para problemas reais por meio dos conhecimentos obtidos nas oficinas do semestre.
              p Ao final, fazem uma apresentação de 5 minutos das suas ideias e prototipos, e são avaliados por uma banca examinadora composta por lideres regionais.

            .d-flex
              a.c-btn.c-btn--df.c-btn--blue.w-100(href='https://www.facebook.com/pg/waas.ninja/events/?ref=page_internal').d-flex.justify-content-center Agenda
        //- Dojo
        .col-md-6.px-4
          .c-card.w-100.py-4.bullets.bullets--top-center.bullets--blue
            figure.l-section__img.c-card__img.mt-2(style='height:250px')
              img(src="images/dojo-joinville.jpg", alt="Jovem Pesquisando")
            h3.c-card__title.text-center.h2
              | Dojo
            .c-card__body.text-center
              p Evento em formato de competição usando tecnologia. Corrida de carrinhos, Luta de robôs, gincana, Desafios e Demonstrações de habilidades.
              p O Dojo WAAS é uma experiência de 3 horas onde uma turma entra em contato com o mundo da robótica!
              p A partir de uma história, convidamos aos jovens a participarem da dinâmica, por meio de seus experimentos robóticos.

            .d-flex
              a.c-btn.c-btn--df.c-btn--blue.w-100(href='https://www.facebook.com/pg/waas.ninja/events/?ref=page_internal').d-flex.justify-content-center Em breve
    
  //- CONQUISTAS
  section#conquistas.l-section.bg-blue
    .container
      h2.l-section__title
        span.icon-trophy-cup-silhouette
        span.px-2 Conquistas
      .glide.glide-default
        .glide__track.mb-4(data-glide-el='track')
          ul.glide__slides
            +repeat(8)
              li.glide__slide
                a.text-white(href='https://www.facebook.com/InstitutoLegado/photos/a.297510197020038/1333520163419031/?type=3&theater' target="_blank")
                  img.img-fluid.rounded(src="images/conquistas/premio-legado-2017-de-empreendedorismo-social.jpg")
                  .clearfix
                  .pt-2.pb-4.text-center
                    span Prêmio Legado de Empreendedorismo Social - 2017
        //- .glide__arrows(data-glide-el='controls')
        //-   button.glide__arrow.glide__arrow--left(data-glide-dir="<") prev
        //-   button.glide__arrow.glide__arrow--right(data-glide-dir=">") next    

        .glide__bullets(data-glide-el='controls[nav]' style="bottom: -15px")
          - var counter = 0
          +repeat(8)
            button.glide__bullet(data-glide-dir=`=${counter++}`)
  
  //- MAIS CONQUISTAS
  section#mais-conquistas.l-section
    .container
      h2.l-section__title.text-primary.d-flex.align-items-center
        span.icon-line-chart
        span.px-4 Mais conquistas
      .row
        .col-md-4.text-center.text-black-50
          h3.mt-2.d-flex.flex-column.justify-content-center 
            strong 
              span.icon-raio(role='icon')
              span.h1.font-weight-bold 1000
            span Ninjas graduados

        .col-md-4.text-center.text-black-50
          h3.mt-2.d-flex.flex-column.justify-content-center 
            strong 
              span.icon-raio(role='icon')
              span.h1.font-weight-bold 10
            span Cidades
        
        .col-md-4.text-center.text-black-50
          h3.mt-2.d-flex.flex-column.justify-content-center 
            strong
              span.icon-raio(role='icon')
              span.h1.font-weight-bold 1000
            span Hackateens 

  //- PARTNERS
  section#parceiros.l-section.l-section-partners(style="background-color: #fff;")
    .container
      h2.l-section__title.text-primary
        span.icon-partners-claping-hands
        //- span.icon-multiple-users-silhouette
        span Parceiros
      .d-flex.flex-wrap.justify-content-center
        +repeat(9)
          a.l-section-partners__item(href="http://www.institutorobertbosch.org.br" target="_blank").text-center.p-2
            img.img-fluid(src="images/parceiros/instituto-robert-bosch.jpg" alt='Instituto Robert Bosch')
  
  //- DEMPOIMENTOS
  section.l-section#depoimentos
    .container
      h2.l-section__title.pb-4.mb-4.text-primary
        span.icon-feedback
        span Depoimentos
      .glide.glide-testimonial.mt-4
        .glide__track(data-glide-el='track')
          ul.glide__slides
            +repeat(8)
              li.glide__slide
                blockquote.blockquote.px-2
                  .row.c-card.bullets.py-4
                    .col-md-3.col-sm-12.col-xs-12.text-center
                      img.img-fluid.rounded-circle(src="https://scontent.fbfh10-1.fna.fbcdn.net/v/t31.0-1/p320x320/28618862_10210831476923193_6680567936615428198_o.jpg?_nc_cat=109&_nc_oc=AQn19ilj7-L2fofzZIkJjm1aWiUDTsM_5HqyoUA7kD4PAUvZY78C0IBON-LSjH-pK9g&_nc_ht=scontent.fbfh10-1.fna&oh=ffa292f353567b117d198657686b2f14&oe=5E4E97D7" )
                    .col-md-9.col-sm-12.col-xs-12
                      p Melhoooooor projeto de empreendedorismo social que já participei! WAAS vai salvar o mundo S2
                      footer.blockquote-footer Lucas Klein
        
        .glide__bullets(data-glide-el='controls[nav]' style="bottom: -15px")
          - var counter = 0
          +repeat(8)
            button.glide__bullet(data-glide-dir=`=${counter++}`)
  
  //- NO QUE A COMUNIDADE ESTÁ FALANDO SOBRE NÓS
  section.l-section#noticias
    .container
      .c-card.c-card--section.mb-4.px-0.bullets.bullets--red
        h2.l-section__title.c-card__title
          span.icon-hashtag
          span O que estão falando sobre nós
        .c-card__body.h-100
          .c-grid.js-gallery--news
            +repeat(6)
              .c-grid__item.c-card.text-center.bg-transparent.border-0
                a.c-grid__link(href='https://jornaldacic.com.br/2019/09/04/raul-guedes-o-menino-que-foi-pra-nasa-agora-vai-para-harvard/' target='_blank')
                  .c-card-img-top
                    img(src="images/clipping/o-menino-que-foi-pra-nasa-agora-vai-para-harvard.png" alt="Imagem").rounded   
                  .c-card__body
                    //- h4.c-card__title Card Title
                    p.card-text 
                      | O Menino que foi para a NASA, agora vai para HAVARD
    
  //- NEWSLETTER
  include ../_02-components/c-newsletter.pug

  block scripts
    script.
      try {
        var glideTestimonial = new Glide('.glide-testimonial', {
          type: 'carousel',
          autoplay: 4000,
          perView: 1,
          focusAt: 'center',
          animationTimingFunc: 'ease',
          animationDuration: 800
        });
        glideTestimonial.mount();
      } catch(err) { }