extends ../_00-toolbox/templates/master.pug

block append pageTitle
  - page.title = page.name
  - page.current = "home"

block main
  include ../_03-layouts/l-cover.pug
  include ../_03-layouts/l-sobre-nos.pug
  include ../_03-layouts/l-metodologia.pug    
  include ../_03-layouts/l-sistema-de-graduacao.pug
  include ../_03-layouts/l-eventos.pug
  include ../_03-layouts/l-conquistas.pug
  include ../_03-layouts/l-mais-consquistas.pug
  include ../_03-layouts/l-parceiros.pug
  include ../_03-layouts/l-depoimentos.pug
  include ../_03-layouts/l-noticias.pug
  include ../_02-components/c-newsletter.pug

  block scripts
    script.
      try {
        var glideTestimonial = new Glide('.glide-testimonial', {
          type: 'carousel',
          autoplay: 4000,
          perView: 1,
          focusAt: 'center',
          animationTimingFunc: 'ease',
          animationDuration: 800
        });
        glideTestimonial.mount();
      } catch(err) { }