.l-pages {
  &__cover {
    z-index: 0;
    background-attachment: fixed;
    @include media-breakpoint-down(sm) {
        background-attachment: scroll;
    }
  }
  &__content{
    z-index: 1;
    .c-card {
      &--section:first-child {
        .c-card__body {
          min-height: 160px;
        }
      }
    }
  }
}