section.l-section.mb-4#newsletter
  .container
    .c-card.c-card--section.c-card-newsletter.mx-auto.bullets.bullets--orange
      h2.l-section__title.c-card__title.mb-4.text-center 
        span.icon-broadcast
        span Fique ligado na gente 
      .col-lg-10.col-sm-12.mx-auto.mb-4.pb-4
        h3.py-2.text-primary 
          span.icon-world-wide-web
          span  Redes Sociais  

        ul.c-social-buttons.list-unstyled.justify-content-center
          li
            a.c-btn.c-btn--df.c-btn--instagram.mx-1.d-flex.align-items-center(href="https://www.instagram.com/waas.ninja/" target="_blank") 
              span.icon-instagram
              span.pl-2  @waas.ninja
          li
            a.c-btn.c-btn--df.c-btn--facebook.mx-1.d-flex.align-items-center(href="https://www.facebook.com/waas.ninja" target="_blank") 
              span.icon-facebook
              span.pl-2 @waas.ninja
          //- li
          //-   a.c-btn.c-btn--df.c-btn--youtube.mx-1.d-flex.align-items-center(href="#") 
          //-     span.icon-youtube
              span.pl-2 Youtube
          li
            a.c-btn.c-btn--df.c-btn--linkedin.mx-1.d-flex.align-items-center(href="https://www.linkedin.com/company/instituto-social-waas" target="_blank") 
              span.icon-linkedin
              span.pl-2 @instituto-social-waas

      .col-lg-10.col-sm-12.mx-auto
        h3.p-2.text-primary 
          span.icon-envelope
          span  Receba nossa news
        .form-group.form-group-lg.text-right(action="post" target="_self")
            input.form-control.form-control-lg.mb-4(type="text" placeholder="E-mail" aria-label="E-mail")
            .d-flex
              button.c-btn.c-btn--df.c-btn--green.w-100.d-flex.justify-content-center(type="submit")
                span Inscreve
      