mixin repeat(limit)
	- for (var i = 1; i <= limit; i++) {
		block
	- }

// CARD
mixin card()
	.card
		.card-body
			h1.bottom Card Title
		.card-text 
			| Text  Text Tex
		a.btn.btn-primary(href="#") Test