//- <link href="https://fonts.googleapis.com/css?family=Lato:400,700i&display=swap" rel="preload" as="font">
//- link(rel="stylesheet", href="/assets/view/sprite.css")
//- link(rel="preload", as="image", href="/assets/symbol/svg/sprite.symbol.svg")
<!-- build:css styles/vendor.css -->
  //- //- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css" type="text/css" />
  <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.4.1/dist/css/glide.core.min.css" type="text/css">
  <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.4.1/dist/css/glide.theme.min.css" type="text/css">
<!-- endbuild -->

<!-- build:css styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
|
|