<!-- build:js scripts/modernizr.js -->
<script src="scripts/modernizr.js"></script>
<!-- endbuild -->
//- <script async src="https://cse.google.com/cse.js?cx=012713980972740920291:kglxojod0jq"></script>